$color-primary-100: #FFEDD5;
$color-primary-200: #FFD5AC;
$color-primary-300: #FFB982;
$color-primary-400: #FF9D63;
$color-primary-500: #FF6F30;
$color-primary-600: #DB4E23;
$color-primary-700: #B73318;
$color-primary-800: #931D0F;
$color-primary-900: #7A0D09;

$color-success-100: #F0FDE2;
$color-success-200: #DEFBC6;
$color-success-300: #C3F4A6;
$color-success-400: #A8E98C;
$color-success-500: #82DB67;
$color-success-600: #5DBC4B;
$color-success-700: #3D9D33;
$color-success-800: #227F20;
$color-success-900: #136918;

$color-info-100: #D1FDFE;
$color-info-200: #A4F5FE;
$color-info-300: #76E6FD;
$color-info-400: #54D4FB;
$color-info-500: #1DB7F9;
$color-info-600: #158FD6;
$color-info-700: #0E6BB3;
$color-info-800: #094C90;
$color-info-900: #053677;

$color-warning-100: #FFF8D7;
$color-warning-200: #FFEFAF;
$color-warning-300: #FFE387;
$color-warning-400: #FFD869;
$color-warning-500: #FFC638;
$color-warning-600: #DBA228;
$color-warning-700: #B7811C;
$color-warning-800: #936311;
$color-warning-900: #7A4D0A;

$color-danger-100: #FFE0DB;
$color-danger-200: #FFBBB8;
$color-danger-300: #FF959B;
$color-danger-400: #FF7A8F;
$color-danger-500: #FF4F7B;
$color-danger-600: #DB3971;
$color-danger-700: #B72767;
$color-danger-800: #93195B;
$color-danger-900: #7A0F53;

$color-neutral-100: #ffffff;
$color-neutral-200: #f7f9fc;
$color-neutral-300: #edf1f7;
$color-neutral-400: #e4e9f2;
$color-neutral-500: #c5cee0;
$color-neutral-600: #8f9bb3;
$color-neutral-700: #2e3a59;
$color-neutral-800: #222b45;
$color-neutral-900: #1a2138;
$color-neutral-1000: #151a30;
$color-neutral-1100: #101426;