@import '../../styles/colors';

$preview-wrapper-prefix: 'preview-wrapper';
$preview-wrapper-title-height: 1.75rem;

.#{$preview-wrapper-prefix} {
  max-width: 750px;
  height: 500px;
  width: 100%;
  border-radius: 0.625rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.75rem rgba($color-primary-500, 0.1);
  background-color: $color-neutral-100;
  padding-top: 1.75rem;
  position: relative;

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    color: $color-neutral-700;
    background-color: $color-neutral-400;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
  }

  &__controls {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: inline-grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, min-content);
  }

  &__close-button, &__minimize-button, &__fullscreen-button {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 0.75rem;
  }

  &__close-button {
    background-color: $color-danger-500;
  }
  &__minimize-button {
    background-color: $color-warning-500;
  }
  &__fullscreen-button {
    background-color: $color-success-500;
  }
}