$color-primary: #03a9f4;
$color-primary-shade-1: #e1f5fe;
$color-primary-shade-2: #b3e5fc;
$color-primary-shade-3: #4fc3f7;
$color-primary-shade-4: #0288d1;
$color-primary-shade-5: #0277bd;

$color-accent: #8bc34a;
$color-accent-shade-1: #e7f6d5;
$color-accent-shade-2: #c5e1a5;
$color-accent-shade-3: #aed581;
$color-accent-shade-4: #689f38;
$color-accent-shade-5: #558b2f;

$color-neutral-shade-1: #f2f2f2;
$color-neutral-shade-2: #e8e9e9;
$color-neutral-shade-3: #d1d3d4;
$color-neutral-shade-4: #babdbf;
$color-neutral-shade-5: #808488;
$color-neutral-shade-6: #666a6d;
$color-neutral-shade-7: #4d5052;
$color-neutral-shade-8: #212122;

$color-gray: #999999;

$color-white: #ffffff;
$color-black: #000000;
