$color-dark-red-shade: #e53838;
$color-dark-red: #e64a41;
$color-dark-red-tint-1: #e86759;
$color-dark-red-tint-2: #eb8370;
$color-dark-red-tint-3: #ed9c87;
$color-dark-red-tint-4: #f0b29e;
$color-dark-red-tint-5: #f3c7b4;
$color-dark-red-tint-6: #f6dacb;
$color-dark-red-tint-7: #f9ebe1;

$color-red-shade: #ff3b38;
$color-red: #ff4e42;
$color-red-tint-1: #fe715f;
$color-red-tint-2: #fe8d77;
$color-red-tint-3: #fda890;
$color-red-tint-4: #fdc0aa;
$color-red-tint-5: #fdd6c3;
$color-red-tint-6: #fee9dc;
$color-red-tint-7: #fff9f5;

$color-yellow-shade: #febe34;
$color-yellow: #ffcd3f;
$color-yellow-tint-1: #feda58;
$color-yellow-tint-2: #fee672;
$color-yellow-tint-3: #fdf08b;
$color-yellow-tint-4: #fdf7a5;
$color-yellow-tint-5: #fdfcbe;
$color-yellow-tint-6: #fcfed7;
$color-yellow-tint-7: #fdfef0;

$color-dark-grey: #444444;
$color-grey: #b7b7b7;
$color-white: #ffffff;

$color-background-1: #f2f0f0;
$color-background-2: #eeebeb;

$color-rainbow-1: #f60000;
$color-rainbow-2: #ff8c00;
$color-rainbow-3: #ffee00;
$color-rainbow-4: #4de94c;
$color-rainbow-5: #3783ff;
$color-rainbow-6: #882ff6;
